@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

:root {
  --black: black;
  --white: white;
  --blue: #0065fc;
  --blue-clear: #deebff;
  --grey: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 auto;
  max-width: 1400px;
  scroll-behavior: smooth;
}

body {
  margin: 0 40px;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 19px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--black);
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.img_logo_nav {
  height: 19px;
}

.navbar a {
  padding: 38px 48px;
}

.navbar a:hover {
  color: var(--blue);
  border-top: solid 2px var(--blue);
}

/* HEADING */

.section_heading {
  margin: 20px 0;
}

.heading {
  margin-bottom: 10px;
}

/* SEARCH-BAR */

.search_bar {
  width: 446px;
}

.search_bar form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  border: solid 1px var(--grey);
  border-radius: 15px;
}

.search_bar input {
  flex-grow: 2;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  color: var(--black);
}

.btn_form {
  height: 49px;
  padding: 0 16px;
}

.btn_icon {
  display: none;
}

.fa-location-dot {
  color: var(--black);
}

.btn_location {
  background-color: var(--grey);
  border-radius: 15px 0px 0px 15px;
  border: none;
  font-size: 18px;
}

.btn_location:hover {
  background-color: var(--black);
}

.btn_location:hover .fa-location-dot {
  color: var(--white);
}

.btn_search {
  background-color: var(--blue);
  border-radius: 0px 15px 15px 0px;
  border: 1px solid var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
}

.btn_search:hover {
  background-color: var(--blue-clear);
  color: var(--black);
}

/* FILTER SECTION*/

#filter_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.heading_filter {
  margin: 0 10px;
  font-size: 18px;
}

.filter a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin: 0 10px;
  padding: 0 15px;
  border: solid 2px var(--grey);
  border-radius: 29px;
}

.filter a:hover {
  background-color: var(--blue-clear);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: var(--grey);
}

.filter_link h2 {
  color: var(--black);
  font-size: 17px;
  font-weight: 700;
}

.title_link {
  margin-right: 10px;
}

.icon_link.fa-solid {
  margin: 0 10px;
  font-size: 22px;
  color: var(--blue);
}

.info_accomondation {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.icon_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin-right: 10px;
  border: solid 2px var(--grey);
  border-radius: 50%;
  color: var(--blue);
  font-size: 10px;
}

/* MAIN SECTION */

#main_container {
  display: flex;
  justify-content: space-between;
}

.main_cards_ui {
  padding: 40px;
  background-color: var(--grey);
  border-radius: 20px;
}

/* CARDS MAIN SECTION */

.card {
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5px;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 124px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.card p {
  font-size: 14px;
}

.container {
  padding: 10px 10px 10px 10px;
}

.heading_card {
  margin-bottom: 8px;
}

.text_card {
  margin-bottom: 5px;
}

.fa-star {
  font-size: 12px;
  color: var(--blue);
}

.star-grey {
  color: var(--grey);
}

/* ACCOMODATION SECTION*/

#accomondation {
  width: 60%;
  margin-right: 40px;
}

.heading_accomondation {
  margin: 10px 0 20px 0;
}

a.link_accomondation_plus {
  font-size: 18px;
  font-weight: 700;
}

.grid_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  grid-gap: 30px;
}

/* MOST POPULAR SECTION */

#most_popular {
  width: 30%;
}

#header_most_pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#header_most_pop .fa-chart-line {
  color: var(--blue);
  width: 18px;
  transition: 0.3s;
}

#header_most_pop .fa-chart-line:hover {
  transform: scale(1.1);
}

#card_most_popular .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#card_most_popular {
  display: flex;
  height: 144px;
}

#card_most_popular img {
  height: auto;
  width: 40%;
  border-radius: 15px 0 0 15px;
}

.link_most_pop {
  width: 100%;
}

.cards_most_pop {
  display: grid;
  grid-gap: 40px;
}

/* CARDS ACTIVITIES */

.heading_activities {
  margin: 50px 0 20px 0;
}

.activities {
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
}

.link_activities {
  width: 100%;
}

#card_activities {
  min-height: 465px;
  padding: 0;
}

#card_activities img {
  height: 389px;
}

.container_activities {
  padding: 15px;
}

/* FOOTER */

#footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey);
  padding: 50px 70px;
  margin-top: 70px;
}

#footer h3 {
  font-size: 18px;
}

.list_footer {
  list-style: none;
}

.list_footer li {
  margin: 20px 0;
}

.list_footer a {
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
}

/* MEDIA QUERIES TABLETTE */

@media only screen and (max-width: 992px) {
  #main_container {
    display: block;
  }

  #accomondation {
    width: 90%;
    margin: 0 auto 40px auto;
  }

  #most_popular {
    width: 90%;
  }

  .cards_most_pop {
    display: flex;
    grid-gap: 20px;
  }

  #card_activities {
    min-height: 290px;
  }

  #card_activities img {
    height: 210px;
  }

  .filter a {
    margin: 10px;
  }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (max-width: 768px) {
  body {
    margin: 0 20px;
  }

  .navbar {
    flex-direction: column;
    width: 100%;
    padding: 30px 0 40px 0;
  }

  .navbar a {
    padding: 0 0 20px 0;
    border-bottom: solid 2px var(--grey);
  }

  .navbar a:hover {
    border-bottom: solid 2px var(--blue);
    border-top: none;
  }

  .nav_elements {
    display: flex;
    width: 100%;
  }

  a.nav_link {
    margin: 0 -20px;
    width: 100%;
    text-align: center;
  }

  .img_logo_nav {
    margin: 0 0 50px 0;
  }

  .search_bar {
    width: 100%;
    max-width: 446px;
    margin: 0;
  }

  .btn_icon {
    display: block;
  }

  .btn_text {
    display: none;
  }

  #filter_container {
    display: block;
  }

  .heading_filter {
    margin-bottom: 10px;
  }

  .filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: center;
    font-size: 11px;
  }

  .filter a {
    padding: 0;
    margin: 0;
  }

  .filter a:hover {
    background-color: var(--white);
  }

  h2.title_link {
    font-size: 11px;
  }

  #main_container {
    display: flex;
    flex-direction: column-reverse;
  }

  #accomondation {
    background-color: var(--white);
    width: unset;
    margin: 0 -20px;
    border-radius: 0;
  }

  a.link_accomondation_plus {
    display: none;
  }

  .main_cards_ui {
    padding: 20px;
  }

  .grid_cards {
    display: flex;
    flex-direction: column;
  }
  #footer {
    flex-direction: column;
    margin: 70px -20px;
    grid-row-gap: 30px;
    padding: 50px;
  }

  #most_popular {
    width: unset;
    margin: 0 -20px;
    padding: 40px 20px 50px;
    border-radius: 0;
  }

  #card_most_popular {
    width: unset;
  }

  .cards_most_pop {
    flex-direction: column;
  }

  .activities {
    flex-direction: column;
  }

  #card_activities {
    width: unset;
  }

  .section_activities {
    margin: 70px 0;
  }
}
